<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h2>Transportation details: </h2>
<p>
  <ul>
    <li>Event: <%= @protest.name %></li>
    <li>Vehicle: <%= @transportation.vehicle %></li>
    <li>Capacity: <%= @transportation.capacity %></li>
    <li>Pick Up Location: <%= @transportation.pickup_location %></li>
  </ul>
</p>


<%= link_to "OK", protests_path %>
