<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <style>
      tab1 { padding-left: 1em; }
  </style>
  
<h2 class="text-center"><tab1>Transportation details: </h2>

  <ul class="list-group">
    <li class="list-group-item"><strong>Event:<tab1></strong><%= @protest.name %></li>
    <li class="list-group-item"><strong>Vehicle:<tab1></strong><%= @transportation.vehicle %></li>
    <li class="list-group-item"><strong>Capacity:<tab1></strong><%= @transportation.capacity %></li>
    <li class="list-group-item"><strong>Pick Up Location:<tab1></strong><%= @transportation.pickup_location %></li>
  </ul>

  <%= link_to "OK", protests_path, class: "btn btn-primary ml-3 mt-3" %>
